.create-url-button {
  background: transparent;
  border: 2px solid #ff4081;
  color: #ff4081;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  border-radius: 8px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
}

.create-url-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: #ff4081;
  z-index: -1;
  transition: all 0.3s;
}

.create-url-button:hover::before {
  left: 0;
}

.create-url-button:hover {
  color: #ffffff;
}
